body {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0f2027,
    #203a43,
    #2c5364
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0f2027, #203a43, #2c5364);
  margin: 0;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  color: white;
}
h1 {
  text-shadow: #ddd;
}
a {
  color: white;
  font-weight: bold;
}

div .container {
  margin: 1rem;
}
button {
  size: 1rem;
}
.graphicContainer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: inline-flex;
}
.scroller {
  position: relative;
  padding: 0 1rem;
  max-width: 30rem;
  z-index: 1;
  flex-basis: 45%;
}

.scroller > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.map {
  position: -webkit-sticky;
  /* flex-basis: "60%"; */
  position: "sticky";
  width: "100%";
  /* display: inline; */
  /* left: 0; */
  margin: 0;
  /* top: "40%"; */
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 0;

  overflow-y: clip;
  align-items: "right";

  /* overflow-x: hidden; */
  /* justify-content: "center"; */
}
.map > * {
  padding: 1rem;
  position: sticky;
  top: 20%;
  left: 20%;

  -moz-transform: translate(-20%, -20%);
  -webkit-transform: translate(-20%, -20%);
  transform: translate(-20%, -20%);
}

.step {
  margin: "0 auto 20px auto";
  border: "1px solid #333";
  background-color: rgba(221, 221, 221, 0.7);
  min-height: 500px;
  /* overflow: visible; */
}
.step p {
  text-align: "left";
  position: -webkit-relative;
  position: relative;
  padding: 1rem;
  padding-left: 0.5rem;
  margin: 1.5rem;
  font-size: 2rem;
  color: black;
  align-content: center;
}

#progressBarContainer {
  position: -webkit-fixed;
  position: fixed;
  z-index: 10;
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  top: 0;
  left: 0;
}

#progressBar {
  background: linear-gradient(to left, yellow, red);
  transform-origin: top left;
  transform: scale(0, 0);
  opacity: 0.5;
}

#progressBarContainer,
#progressBar {
  height: 10px;
}
footer {
  background: black;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
h3 {
  margin-top: 10vh;
  margin-left: 10vw;
}
.endingpg {
  margin-top: 0.5em;
  margin-left: 10vw;
}
.hedge {
  margin-top: 0.5em;
  margin-left: 40%;
}
